//*==================================
// Buttons
//*==================================

//keyboard buttons in the game when a user chooses a letter
.chosen {
  background: $color-neutral;
  border-radius: 5px;
  font-size: $font-medium;
  color: $white;
}

//button style when game is over
.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: $white;
  border-radius: 5px;
  font-size: $font-medium;
  cursor: pointer;
}

// button styles when user starts game
.start a {
  color: $primary-key-color;
  background-color: $white;
  transition: all .4s ease-in-out;
}

.start a:hover{
  background: $primary-key-color;
  color: $white;
}

// button styles when user wins game
.win a {
  color: $color-win;
}

// button styles when user loses game
.lose a {
  color: $color-lose;
}