//*==================================
// Phrase Styles
//*==================================

// hidden phrase letter buttons
.letter {
  font-size: $font-medium;
  height: 35px;
  width: 35px;
  padding: 5px;
  margin: 0 4px 4px 0;
  color: transparent;
  background: $color-neutral-light;
  border-radius: 5px;
  @include mq('md'){
    padding: 19px;
    height: 65px;
    width: 65px;
  } 
}

//the space between the hidden letters
.space {
  width: 15px;
}

// styling for when user selects the correct letter button
.show {
  color: $white;
  background-color: $primary-key-color;
  border: 1px solid $white;
  padding: 5px;
  margin: 0 4px 4px 0;
  border-radius: 5px;
  font-size: $font-medium;
  text-transform: capitalize;
  transition: all .5s ease-in-out;
  transform: rotateY(360deg);
  @include mq('md'){
    padding: 18px;
    height: 65px;
    width: 65px;
  }
}

